/* VARIABLER  */

:root {
  /* COLORS */
  --dark: #000000;
  --txt-dark: #000000;
  --light: #fff;
  --txt-light: #fff;
  --primary: #ba2329;
  --secondary: #007ddb;

  /* FONT SIZE */
  --txt-huge: 56px;
  --txt-large: 36px;
  --txt-medium: 24px;
  --txt-regular: 20px;
  --txt-small: 16px;
  --txt-tiny: 12px;
}

/* ---------------------------------------------------------------------------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background: var(--light);
  color: var(--txt-dark);
}
