/* VARIABLER  */

:root {
  /* COLORS */
  --dark: #000000;
  --txt-dark: #000000;
  --light: #fff;
  --txt-light: #fff;
  --primary: #ba2329;
  --secondary: #007ddb;

  /* FONT SIZE */
  --txt-huge: 56px;
  --txt-large: 36px;
  --txt-medium: 24px;
  --txt-regular: 20px;
  --txt-small: 16px;
  --txt-tiny: 12px;
}

/* ---------------------------------------------------------------------------- */

/* BASE */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, sans-serif;
  background: var(--light);
  color: var(--txt-dark);
}

.wrapper {
  margin: 95px;
}

/* BURGER + NAVIGATION */

.logoImg {
  width: 100%;
  height: 100%;
}

.logoImgContainer {
  width: 50px;
  height: 50px;
}

.styledBurger {
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  color: black;
}

.styleNav {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  margin-right: 10%;
  align-items: center;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid lightgray;
  z-index: 50;
}

.navLink {
  background: var(--light);
  color: var(--dark);
  font-size: var(--txt-medium);
  padding: 10px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
